.navbar {
    background-color: #000000;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.footer {
    background-color: #000000; /* Same color as the navbar */
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
.nav-text {
    color: #fff; 
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.banner {
    position: relative;
    height: 85vh;
    width: 100vw;
    overflow: hidden;
    background: url('media/andro.png') repeat;
    text-align: center;
    z-index:-2;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'P';
    font-size:30px;
    z-index: 3;
}
.logo1 {
    background: url('media/sprite3.png') no-repeat -439px -146px;
    width: 66px;
    height: 66px;
}

.logo2 {
    background: url('media/sprite3.png') no-repeat -66px -72px;
    width: 67px;
    height: 66px;
}

.logo3 {
    background: url('media/sprite3.png') no-repeat -439px -221px;
    width: 66px;
    height: 66px;
}
.social-logos {
    display: flex;
}
.copyright {
    color: #fff; 
    margin-right: 15px; 
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}
@keyframes shoot{
    0% {
        transform:translate(-300px, 300px);
    }
    100%{
        transform:translate(700px, -200px);
    }
  }

  @keyframes shoot2{
    0% {
        transform:translate(-200px, 100px);
    }
    100%{
        transform:translate(700px, -500px);
    }
  }
  @keyframes skew{
    0%{
        transform: skewX(0deg);
    }
    50%{
        transform:skewX(45deg);
    }
    100%{
        transform: skewX(0deg);
    }
  }
@keyframes glide{
0% {
    transform:translate(1300px, -80px);
}
100%{
    transform:translate(-500px,-80px);
}
}
@keyframes dilate{
    0% {
        transform:scale(100%);
    }
    50%{
        transform:scale(200%);
    }
    100%{
        transform:scale(100%);
    }
}
@keyframes dilate2{
    0% {
        transform:scale(100%);
    }
    15%{
        transform:scale(150%);
    }
    100%{
        transform:scale(100%);
    }
}
@keyframes rotat{
    0%{ transform: rotate(0deg);}
    50%{transform:rotate(90deg);}
    100%{transform:rotate(0deg);}
}
#aster {
    background-image: url(media/2835616857.gif);
    width: 250px;
    height: 250px;
    animation: shoot 10s ease 0s infinite;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    }

    #aster2 {
        background-image: url(media/924789195.gif);
        width: 250px;
        height: 250px;
        animation: shoot2 9s ease 0s infinite;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        }
#planet {
        background-image: url(media/1615242743\(3\).gif);
        width: 550px;
        height: 550px;
        animation: glide 60s ease 0s infinite;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        }
        #str {
        background-image: url(media/924789195\(2\).gif);
        width: 100px;
        height: 100px;
        animation-name: dilate, skew;
        animation-duration: 10s, 5s;
        animation-timing-function: ease, ease;
        animation-iteration-count: infinite, infinite;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        padding: 0 5%;
        bottom: 10%;
        top: 20%; 
        right: 10%;
        margin-top: -0.5%;
        position: absolute;
            }

            #str2 {
                background-image: url(media/924789195\(1\).gif);
                width: 60px;
                height: 60px;
                animation: dilate2 5s ease 0s infinite;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 50%;
                padding: 0 5%;
                bottom: 10%;
                top: 20%; 
                right: 20%;
                margin-top: -0.5%;
                position: absolute;
                    }
            #glx {
                    background-image: url(media/1615242743\(1\).gif);
                    width: 300px;
                    height: 300px;
                    animation: rotat 2s ease 0s infinite;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 50%;
                    padding: 0 5%;
                    bottom: 50%;
                    top: 50%; 
                    right: 30%;
                    position: absolute;
                    z-index:-1;
            }
            @font-face {
                font-family: 'P'; 
                src: url('media/PUSAB___.otf') format('opentype');
            
            }